# Training source data
data/
data_CIFAR10/
oxford_flowers102_train/

# Common generated output directories (mostly images/checkpoints)
saved/
report/train_*
report/task2b.txt
report/Report_draft.docx

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]

peyton/

Submission/*
test_code/*
Assignment/*
Marks/*